
.body {
		font-family: Arial,sans-serif;
		margin: 0;
		padding: 0;
}
.header {
	background-color:#f1f1f1;
	color: black;
	padding: 20px;
	text-align: center;
}
.content  {
	padding: 20px;
}
.footer  {
	background-color: #f1f1f1;
	color: black;
	text-align: center;
	padding: 10px;
	position: fixed;
	width: 100%;
	bottom: 0;
}

.flex-container {
  display: flex;
  background-color:#f1f1f1;
}

.flex-container > div 
{
  background-color: #f1f1f1;
  margin: 5px;
  padding: 1px;
  font-size: 20px;
}